body,html{
  overflow: hidden;
}
.menu-panel {
  width: 256px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-panel .menu-content {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  max-height: 305px;
  overflow-y: auto;
  min-width: 256px;
}
.menu-panel .menu-item {
  display: flex;
  flex-direction: row;
  min-height: 48px;
  height: 48px;
  align-content: center;
  justify-content: flex-start;
}
